/* reset CSS */
body, html {
  padding: 0;
  margin: 0;
  min-height: 100%; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none; }

p {
  margin: 0;
  padding: 0; }

/* end of reset */
.mRegular, body {
  font-family: Montserrat;
  font-weight: 400; }

.mSemiBold {
  font-family: Montserrat;
  font-weight: 600; }

.arial, .aboutSection p, .whybankon .whyList li p {
  font-family: "" Helvetica Neue ", Helvetica, Arial, sans-serif"; }

h2 {
  font-size: 30px;
  line-height: 32px; }

[class^="icon-"],
[class*="icon-"] {
  background: url("../images/sprite.png") no-repeat;
  display: inline-block; }

[class^="iconL-"],
[class*="iconL-"] {
  background: url("../images/location-sprite.png") no-repeat;
  display: inline-block;
  width: 85px;
  height: 100px; }

.icon-down {
  background-position: 0 0;
  width: 11px;
  height: 5px; }

.listBgGrey {
  margin-left: -10px; }
  .listBgGrey li {
    float: left;
    font-size: 14px;
    padding: 0 5px;
    line-height: 24px;
    color: #fff;
    background: #666666;
    margin: 0 10px 10px 0; }

.dispTable {
  display: table;
  width: 100%; }
  .dispTable .tCell {
    display: table-cell; }

.arrow-up, .pageMenu li.hasSubMenu a:after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #f00; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid green; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid blue; }

/** location icon **/
.iconL-shivajinagar {
  background-position: 0 0; }

.iconL-deccan {
  background-position: -85px 0; }

.iconL-yerwada {
  background-position: -170px 0; }

.iconL-kharadi {
  background-position: -255px 0; }

.iconL-moshi {
  background-position: -340px 0; }

.iconL-bibwewadi {
  background-position: -425px 0; }

.iconL-pimplenilakh {
  background-position: -510px 0; }

.iconL-katraj {
  background-position: 0 -100px; }

.iconL-warje {
  background-position: -85px -100px; }

.iconL-kothrud {
  background-position: -170px -100px; }

.iconL-bavdhan {
  background-position: -255px -100px; }

.iconL-bhugaon {
  background-position: -340px -100px; }

.iconL-pirangut {
  background-position: -425px -100px; }

.iconL-rihe {
  background-position: -510px -100px; }

.iconL-baner {
  background-position: 0 -200px; }

.iconL-balewadi {
  background-position: -85px -200px; }

.iconL-pashansus {
  background-position: -170px -200px; }

.iconL-wakad {
  background-position: -255px -200px; }

.iconL-hinjewadi {
  background-position: -340px -200px; }

.iconL-pimplesaudagar {
  background-position: -425px -200px; }

.iconL-shirwal {
  background-position: -510px -200px; }

body {
  background: #eeeeee; }

.logo {
  width: 115px;
  height: 113px;
  background: url("../images/logo.png") no-repeat;
  background-size: cover;
  display: inline-block;
  float: left; }

.pageHeader {
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.pageMenu {
  float: right;
  margin-top: 30px; }
  .pageMenu li {
    float: left;
    position: relative; }
    .pageMenu li a {
      font-size: 16px;
      line-height: 20px;
      color: #111111;
      display: block;
      padding: 10px 10px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .pageMenu li.hasSubMenu a {
      position: relative; }
      .pageMenu li.hasSubMenu a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        display: none;
        margin-left: -4px;
        border-bottom-color: #fff; }
    .pageMenu li.hasSubMenu:hover a:after {
      display: block; }
    .pageMenu li.hasSubMenu:hover .subMenu {
      display: block; }
    .pageMenu li .subMenu {
      position: absolute;
      top: 100%;
      z-index: 100;
      width: 175px;
      left: 0;
      display: none;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .pageMenu li .subMenu li {
        background: #fff;
        display: block;
        float: none; }
      .pageMenu li .subMenu a {
        padding: 10px 20px; }
    .pageMenu li .contactSubMenu {
      width: 260px;
      font-size: 12px;
      line-height: 16px;
      padding: 28px 0;
      left: 50%;
      margin-left: -130px;
      text-align: center;
      background: #fff; }
      .pageMenu li .contactSubMenu .teleContact {
        margin-bottom: 16px; }

.bannerSection {
  height: 470px; }
  .bannerSection .banner {
    height: 470px;
    background: url("../images/banner.jpg") no-repeat;
    background-size: cover;
    position: relative; }
    .bannerSection .banner .bannerInfo {
      position: absolute;
      bottom: 47px;
      left: 28px;
      padding: 18px 20px;
      background: #000000;
      color: #fff;
      width: 470px;
      text-transform: uppercase; }

.section h2 {
  font-weight: 600; }
  .section h2 span {
    display: inline-block;
    position: relative; }
    .section h2 span:after {
      content: "";
      position: absolute;
      width: 80%;
      left: 50%;
      margin-left: -40%;
      bottom: -3px;
      height: 3px;
      background: #fff; }

.aboutSection h2,
.whybankon h2,
.forCustomer h2,
.process h2,
.locations h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 65px 0;
  padding-top: 58px; }

.aboutSection blockquote {
  position: relative;
  width: 620px;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin-bottom: 56px;
  font-weight: 600; }
  .aboutSection blockquote:after, .aboutSection blockquote:before {
    position: absolute;
    background: url("../images/sprite.png") no-repeat;
    display: inline-block;
    content: "";
    color: #ffcc00;
    font-size: 60px;
    line-height: 65px;
    width: 45px;
    height: 35px; }
  .aboutSection blockquote:before {
    left: -9px;
    background-position: 0 -8px;
    top: -15px; }
  .aboutSection blockquote:after {
    background-position: 0 -47px;
    right: 0;
    bottom: -15px; }

.aboutSection p {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center; }

.aboutSection h2 {
  color: #fff; }

.aboutSection .sectionData {
  padding-bottom: 58px;
  background: #666666; }

.whybankon h2 {
  margin-bottom: 65px;
  color: #666666; }
  .whybankon h2 span:after {
    background: #666; }

.whybankon .sectionData {
  padding-bottom: 58px;
  background: #fff; }

.whybankon .whyList {
  width: 780px;
  margin: 0 auto; }
  .whybankon .whyList li {
    width: 385px;
    padding-right: 25px;
    display: inline-block;
    vertical-align: top; }
    .whybankon .whyList li p {
      margin-left: 80px;
      font-size: 14px;
      line-height: 22px;
      color: #666666; }
  .whybankon .whyList .count {
    font-size: 72px;
    line-height: 58px;
    font-weight: 600;
    width: 80px;
    float: left;
    color: #ffcc00; }
  .whybankon .whyList .count3 {
    margin: 30px 0 0 335px; }
  .whybankon .whyList .count5 {
    margin: 75px 0 0 0;
    vertical-align: bottom; }

.forCustomer {
  position: relative; }
  .forCustomer .sectionData {
    position: relative; }
  .forCustomer h2 {
    color: #fff;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0; }
  .forCustomer .colLeft,
  .forCustomer .colRight {
    width: 50%;
    padding: 165px 40px 28px 40px; }
  .forCustomer .colLeft {
    background: #ffcc00 url("../images/shape2.png") bottom center no-repeat; }
  .forCustomer .colRight {
    background: #666666 url("../images/shape1.png") bottom center no-repeat;
    background-position: bottom 40px; }
  .forCustomer h3 {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 50px;
    text-transform: uppercase;
    line-height: 20px; }
  .forCustomer .servicesList {
    margin: -46px 0 0 -20px; }
    .forCustomer .servicesList li {
      width: 185px;
      float: left;
      vertical-align: top;
      margin: 46px 0 0 20px; }
    .forCustomer .servicesList h4 {
      font-size: 14px;
      line-height: 18px;
      min-height: 36px;
      color: #ffcc00;
      font-weight: 600;
      margin-bottom: 18px;
      text-transform: uppercase; }
    .forCustomer .servicesList p {
      font-size: 12px;
      line-height: 22px;
      color: #fff; }

.process .sectionData {
  background: #fff;
  padding-bottom: 80px; }

.process h2 {
  color: #666666; }
  .process h2 span:after {
    background: #666666; }

.processType li {
  position: relative; }
  .processType li h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffcc00;
    line-height: 32px;
    font-weight: 600;
    text-transform: uppercase; }
  .processType li img {
    position: relative; }
  .processType li.campaign {
    margin-left: 60px;
    width: 380px; }
    .processType li.campaign h2 {
      right: 0;
      left: 0;
      text-align: center; }
  .processType li.leadProcess {
    width: 480px;
    margin-left: 160px;
    margin-top: 80px;
    margin-bottom: 40px; }
  .processType li.relationship {
    width: 825px;
    margin: 0 auto;
    margin-left: 80px; }
    .processType li.relationship h2 {
      top: 80px; }

.locations .sectionData {
  background: #ffcc00;
  padding-bottom: 65px; }

.locations h2 {
  color: #666666; }
  .locations h2 span:after {
    width: 180px;
    margin-left: -90px;
    background: #666666; }

.locationList {
  width: 875px;
  margin: 0 auto;
  margin-top: -30px; }
  .locationList li {
    float: left;
    width: 125px;
    text-align: center;
    margin-top: 30px; }
  .locationList h3 {
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-top: 16px; }

.pageFooter {
  padding: 25px 0; }
  .pageFooter p {
    font-size: 14px;
    line-height: 18px;
    color: #999999;
    font-weight: 600; }

@media (min-width: 1200px) {
  .forCustomer .servicesList li {
    width: 225px; }
  .processType li.leadProcess {
    margin-left: 220px; }
  .processType li.campaign {
    margin-left: 110px; }
  .processType li.relationship {
    margin-left: 155px; } }
