body {
	background: $bodyColor;
	@extend .mRegular;
}
.logo {
	width: 115px;
	height: 113px;
	background: url("../images/logo.png") no-repeat;
	background-size: cover;	
	display: inline-block;
	float: left;
}

.pageHeader {
	margin-bottom: 10px;
	@include transition(all 0.5s ease);	
}

.pageMenu {
	float: right;
	margin-top: 30px;
	li{
		float: left;
		position: relative;
		a{
			font-size: 16px;
			line-height: 20px;
			color: $menuFontColor;
			display: block;
			padding: 10px 10px;
			@include transition(all 0.5s ease);		
		}

		.subMenu {
			position: absolute;
			top: 100%;
			z-index: 100;
			width: 175px;
			left: 0;
			display: none;
			@include transition(all 0.5s ease);
			li {
				background: $white;
				display: block;
				float: none;
			}
			a{
				padding: 10px 20px;
			}
		}

		&:hover {
			a {
				background: $white;
			}
			.subMenu {
				display: block;
			}
		}
	}
}

.bannerSection{
	height: 470px;
	.banner {
		height: 470px;
		background: url("../images/banner.jpg") no-repeat;
		background-size: cover;
		position: relative;

		.bannerInfo {
			position: absolute;
			bottom: 47px;
			left: 28px;
			padding: 18px 20px;
			background: $black;
			color: $white;
			width: 470px;
			text-transform: uppercase;
		}
	}
}

.section{
	h2 {
		font-weight: 600;
		span {
			display: inline-block;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				width: 80%;
				left: 50%;
				margin-left: -40%;
				bottom: -3px;
				height: 3px;
				background: $white; 
			}
		}
	}
}

.aboutSection,
.whybankon,
.forCustomer,
.process {
	h2 {
		text-align: center;		
		text-transform: uppercase;
		margin: 0 0 65px 0;
		padding-top: 58px;
	}
}

.aboutSection {	
	blockquote {
		position: relative;
		width: 620px;
		margin: 0 auto;
		padding: 0 40px;
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		border: none;
		margin-bottom: 56px;
		font-weight: 600;
		&:after,
		&:before {
			position: absolute;
			background: url("../images/sprite.png") no-repeat;
			display: inline-block;
			content: "";
			color: $yellow;
			font-size: 60px;
			line-height: 65px;
			width: 45px;
			height: 35px;
		}

		&:before {			
			left: -9px;
			background-position: 0 -8px;
			top: -15px;
		}
		&:after {
			background-position: 0 -47px;
			right: 0;
			bottom: -15px;
		}
	}

	p {
		@extend .arial;
		font-size: 14px;
		line-height: 20px;
		color: $white;
		text-align: center;
	}

	h2 {		
		color: $white;
	}
	.sectionData {
		padding-bottom: 58px;
		background: $grey;
	}
}

.whybankon {
	h2 {
		margin-bottom: 65px;
		color: #666666;

		span {
			&:after {
				background: #666;
			}
		}
	}	
	.sectionData {
		padding-bottom: 58px;
		background: $white;
	}

	.whyList{
		width: 780px;
		margin: 0 auto;

		li {			
			width: 385px;
			padding-right: 25px;
			display: inline-block;
			vertical-align: top;
			
			p{
				@extend .arial;
				margin-left: 80px;
				font-size: 14px;
				line-height: 22px;
				color: #666666;
			}
		}

		.count {
			font-size: 72px;
			line-height: 58px;
			font-weight: 600;
			width: 80px;
			float: left;
			color: $yellow;
		}

		.count3{
			margin: 30px 0 0 335px;
		}
		.count5 {
			margin: 75px 0 0 0;
			vertical-align: bottom;
		}
	}
}

.forCustomer {
	position: relative;

	.sectionData {
		position: relative;
	}
	h2 {
		color: $white;
		position: absolute;
		top: 65px;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
	}
	.colLeft,
	.colRight {
		width: 50%;
		padding: 165px 40px 28px 40px;		
	}
	.colLeft{
		background: $yellow url("../images/shape2.png") bottom center no-repeat;	
	}
	.colRight {
		background: $grey url("../images/shape1.png") bottom center no-repeat;	
		background-position: bottom 40px;
	}

	h3 {
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		font-weight: 600;
		margin-bottom: 50px;
		text-transform: uppercase;
		line-height: 20px;
	}

	.servicesList{
		margin: -46px 0 0 -20px;
		li {
			width: 185px;
			float: left;			
			vertical-align: top;
			margin: 46px 0 0 20px;
		}
		h4 {
			font-size: 14px;
			line-height: 18px;
			min-height: 36px;
			color: $yellow;
			font-weight: 600;
			margin-bottom: 18px;
			text-transform: uppercase;
		}
		p{
			font-size: 12px;
			line-height: 22px;
			color: $white;
		}
	}
}

.process {

	.sectionData {
		background: $white;
		padding-bottom: 80px;
	}
}

.processType{
	li {
		position: relative;
		h2 {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			font-size: 48px;
			text-align: center;
			margin: 0;
			padding: 0;
			color: $yellow;
			line-height: 32px;
			font-weight: 600;
			text-transform: uppercase;
		}

		img {
			position: relative;
		}

		&.campaign{
			margin-left: 60px;
			width: 380px;

			h2 {
				right: 0;
				left: 0;
				text-align: center;
			}
		}
		&.leadProcess{
			width: 480px;
			margin-left: 160px;
			margin-top: 80px;
			margin-bottom: 40px;
		}
		&.relationship {
			width: 825px;
			margin: 0 auto;
			margin-left: 80px;
			h2 {
				top: 80px;
			}
		}
	}
}