body {
	background: $bodyColor;
	@extend .mRegular;
}
.logo {
	width: 115px;
	height: 113px;
	background: url("../images/logo.png") no-repeat;
	background-size: cover;	
	display: inline-block;
	float: left;
}

.pageHeader {
	margin-bottom: 10px;
	@include transition(all 0.5s ease);	
}

.pageMenu {
	float: right;
	margin-top: 30px;
	li{
		float: left;
		position: relative;
		a{
			font-size: 16px;
			line-height: 20px;
			color: $menuFontColor;
			display: block;
			padding: 10px 10px;
			@include transition(all 0.3s ease);		
		}

		&.hasSubMenu{
			> a{
				position: relative;
				&:after {
					content: "";
					position: absolute;
					bottom: -2px;
					z-index: 110;
					left: 50%;
					display: none;
					margin-left: -4px;					
					@extend .arrow-up;
					border-bottom-color: $white;				
				}
			}			

			&:hover {
				> a {
					&:after {
						display: block;
					}
				}
				.subMenu {
					display: block;
				}
			}
		}

		.subMenu {
			position: absolute;
			top: 100%;
			z-index: 100;
			width: 175px;
			border: 1px solid $black;
			left: 0;
			display: none;
			@include transition(all 0.5s ease);
			li {
				background: $white;
				display: block;
				float: none;
				&:hover {
					a {
						background: #f2f2f2;
					}
				}
			}
			a{
				padding: 10px 20px;
			}

		}
		
		.contactSubMenu{
			width: 260px;
			font-size: 12px;
			line-height: 16px;
			padding: 28px 0;
			left: 50%;
			margin-left: -130px;
			text-align: center;			
			background: $white;

			.teleContact{
				margin-bottom: 16px;
			}
		}		
	}

	> ul > li {
		&:hover{

			> a {
				background: $menuFontColor;
				color: $white;
			}
		}
	}


}

.bannerSection{
	height: 470px;
	.banner {
		height: 470px;
		background: url("../images/banner.jpg") no-repeat;
		background-size: cover;
		position: relative;

		.bannerInfo {
			position: absolute;
			bottom: 47px;
			left: 28px;
			padding: 18px 20px;
			background: $black;
			color: $white;
			width: 470px;
			text-transform: uppercase;
		}
	}
}

.section{
	h2 {
		font-weight: 600;
		span {
			display: inline-block;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				width: 80%;
				left: 50%;
				margin-left: -40%;
				bottom: -3px;
				height: 3px;
				background: $white; 
			}
		}
	}
}

.aboutSection,
.whybankon,
.forCustomer,
.process,
.locations,
.ourProjects {
	h2 {
		text-align: center;		
		text-transform: uppercase;
		margin: 0 0 65px 0;
		padding-top: 58px;
	}
}

.aboutSection {	
	blockquote {
		position: relative;
		width: 620px;
		margin: 0 auto;
		padding: 0 40px;
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		border: none;
		margin-bottom: 56px;
		font-weight: 600;
		&:after,
		&:before {
			position: absolute;
			background: url("../images/sprite.png") no-repeat;
			display: inline-block;
			content: "";
			color: $yellow;
			font-size: 60px;
			line-height: 65px;
			width: 45px;
			height: 35px;
		}

		&:before {			
			left: -9px;
			background-position: 0 -8px;
			top: -15px;
		}
		&:after {
			background-position: 0 -47px;
			right: 0;
			bottom: -15px;
		}
	}

	p {
		@extend .arial;
		font-size: 14px;
		line-height: 20px;
		color: $white;
		text-align: center;
	}

	h2 {		
		color: $white;
	}
	.sectionData {
		padding-bottom: 58px;
		background: $grey;
	}
}

.whybankon {
	h2 {
		margin-bottom: 65px;
		color: #666666;

		span {
			&:after {
				background: #666;
			}
		}
	}	
	.sectionData {
		padding-bottom: 58px;
		background: $white;
	}

	.whyList{
		width: 780px;
		margin: 0 auto;

		li {			
			width: 385px;
			padding-right: 25px;
			display: inline-block;
			vertical-align: top;
			
			p{
				@extend .arial;
				margin-left: 80px;
				font-size: 14px;
				line-height: 22px;
				color: #666666;
			}
		}

		.count {
			font-size: 72px;
			line-height: 58px;
			font-weight: 600;
			width: 80px;
			float: left;
			color: $yellow;
		}

		.count3{
			margin: 30px 0 0 335px;
		}
		.count5 {
			margin: 75px 0 0 0;
			vertical-align: bottom;
		}
	}
}

.forCustomer {
	position: relative;

	.sectionData {
		position: relative;
	}
	h2 {
		color: $white;
		position: absolute;
		top: 65px;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
	}
	.colLeft,
	.colRight {
		width: 50%;
		padding: 165px 40px 28px 40px;		
	}
	.colLeft{
		background: $yellow url("../images/shape2.png") bottom center no-repeat;	
	}
	.colRight {
		background: $grey url("../images/shape1.png") bottom center no-repeat;	
		background-position: bottom 40px;
	}

	h3 {
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		font-weight: 600;
		margin-bottom: 50px;
		text-transform: uppercase;
		line-height: 20px;
	}

	.servicesList{
		margin: -46px 0 0 -20px;
		li {
			width: 185px;
			float: left;			
			vertical-align: top;
			margin: 46px 0 0 20px;
		}
		h4 {
			font-size: 14px;
			line-height: 18px;
			min-height: 36px;
			color: $yellow;
			font-weight: 600;
			margin-bottom: 18px;
			text-transform: uppercase;
		}
		p{
			font-size: 12px;
			line-height: 22px;
			color: $white;
		}
	}

	.oneRoofList{
		margin-top: 250px;
	}
}

.process {
	.sectionData {
		background: $white;
		padding-bottom: 80px;
	}
	h2 {
		color: $grey;
		span {
			&:after {
				background: $grey;
			}
		}
	}
}

.processType{	
	li {
		position: relative;
		h2 {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			font-size: 48px;
			text-align: center;
			margin: 0;
			padding: 0;
			color: $yellow;
			line-height: 32px;
			font-weight: 600;
			text-transform: uppercase;
		}

		img {
			position: relative;
		}

		&.campaign{
			margin-left: 60px;
			width: 380px;

			h2 {				
				margin-bottom: 10px;
			}
		}
		&.leadProcess{
			width: 480px;
			margin-left: 160px;
			margin-top: 80px;
			margin-bottom: 40px;
			h2 {
				left: -50px;
				margin-bottom: 10px;
			}
		}
		&.relationship {
			width: 825px;
			margin: 0 auto;
			margin-left: 80px;
			h2 {
				position: absolute;
				top: 90px;
			}
		}
	}
}

.locations{
	
	.sectionData{
		background-image: url("../images/location-bg.png");
		background-size: cover;
		background-color: $yellow;
		padding-bottom: 65px;
		height: 670px;
		position: relative;
	}

	h2{
		margin-bottom: 20px;
		color: $grey;
		span {
			&:after {
				width: 180px;
				margin-left: -90px;
				background: $grey;
			}
		}
	}	
}

.locationList{
	width: 875px;
	margin: 0 auto;	
	position: relative;
	li {
		float: left;
		width: 125px;
		text-align: center;			
		position: absolute;
	}
	h3 {
		font-size: 14px;
		line-height: 18px;
		color: #333333;
		margin-top: 16px;		
	}	

	.baner {		
		left: 58px;
	}	

	.wakad {
		left: 190px;
		top: 28px;
	}

	.kharadi {
		left: 335px;
		top: 90px;
	}

	.balewadi {
		top: 172px;
		left: 106px;
	}

	.warje {
		top: 252px;
		left: 223px;
	}

	.katraj {
		top: 315px;
		left: 20px;
	}

	.kothrud {
		left: 130px;
		top: 375px;
	}

	.pashansus {
		left: 306px;
		top: 400px;
	}

	.bavdhan {
		left: 348px;
		top: 250px;
	}

	.pimplenilakh {
		right: 0;
		top: 130px;
	}

	.bibwewadi {
		right: 110px;
		top: 52px;
	}

	.hinjewadi {
		top: 30px;
		right: 204px;
	}

	.moshi {
		right: 203px;
		top: 182px;
	}

	.pirangut {
		top: 310px;
		right: 100px;
	}

	.pimplesaudagar {
		top: 380px;
		right: 20px;
	}

	.bhugaon {
		right: 255px;
		top: 340px;
	}

	.karvenagar {
		top: 100px;
		left: -20px;
	}
}


.pageFooter {
	padding: 25px 0;
	p {
		font-size: 14px;
		line-height: 18px;
		color: #999999;
		font-weight: 600;
	}
}

.ourProjects{
	h2 {
		color: $grey;
		margin-bottom: 20px;
		span {
			&:after {
				background: $grey;
			}
		}
	}
	.sectionData {
		background: $white;
		padding-bottom: 60px;
	}	
}
.projectsTypes{
	width: 780px;
	margin: 0 auto;	
	.projectTypesTile{
		float: left;
		margin-left: 20px;
		width: 380px;

		&:first-child {
			margin-left: 0;
		}
	}
}
.projectTypesTile {
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		@include transition(all 0.4s ease);
	}
	h4 {
		color: $yellow;	
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	p {
		color: $white;
		font-size: 18px;
		line-height: 22px;
		min-height: 40px;
		margin-bottom: 20px;
	}

	a{
		font-size: 12px;
		line-height: 12px;
		color: $yellow;
		text-decoration: underline;
		opacity: 0;
		@include transition(opacity 0.4s ease);
	}
	.tileInfo{
		position: absolute;
		bottom: 20px;
		left: 30px;
		z-index: 20;
		width: 190px;
	}

	&:hover {
		img {
			@include transform(scale(1.3,1.3));
		}

		a {
			opacity: 1;
		}
	}
}