/* reset CSS */
body,html {
	padding: 0 ;
	margin: 0;
	min-height: 100%;
}
ul,li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
}
a,a:hover,a:visited{
	text-decoration: none
}
p{
	margin: 0;
	padding: 0;
}
/* end of reset */

$bodyColor: #eeeeee; 
$grey: #666666;
$yellow: #ffcc00;
$black: #000000;
$white: #fff;
$fontMon: Montserrat;
$fontDefault: ""Helvetica Neue", Helvetica, Arial, sans-serif"; 
$menuFontColor: #111111;

.mRegular {
	font-family: $fontMon;
	font-weight: 400;	
}
.mSemiBold {
	font-family: $fontMon;
	font-weight: 600;	
}

.arial {
	font-family: $fontDefault; 	
}

h2 {
	font-size: 30px;
	line-height: 32px;
}


[class ^= "icon-"],
[class *= "icon-"]{
   background:url("../images/sprite.png") no-repeat;
   display: inline-block;
}

[class ^= "iconL-"],
[class *= "iconL-"]{
   background:url("../images/location-sprite.png") no-repeat;
   display: inline-block;
   width: 85px;
   height: 100px;
}

.icon-down {
	background-position: 0 0;
	width: 11px;
	height: 5px;
}


.listBgGrey{
	margin-left: -10px;
	li{
		float: left;
		font-size: 14px;
		padding: 0 5px;
		line-height: 24px;
		color: $white;
		background: $grey;
		margin: 0 10px 10px 0;
	}
}

.dispTable {
	display: table;
	width: 100%;

	.tCell {
		display: table-cell;
	}
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;  
  border-bottom: 8px solid black;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;  
  border-top: 8px solid #f00;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  
  border-left: 8px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  
  border-right:8px solid blue; 
}

/** location icon **/
.iconL-shivajinagar {
	background-position: 0 0;
}
.iconL-deccan {
	background-position: -85px 0;	
}
.iconL-yerwada {
	background-position: -170px 0;	
}
.iconL-kharadi {
	background-position: -255px 0;	
}
.iconL-moshi {
	background-position: -340px 0;	
}
.iconL-bibwewadi {
	background-position: -425px 0;	
}
.iconL-pimplenilakh {
	background-position: -510px 0;	
}
.iconL-katraj {
	background-position: 0 -100px;	
}
.iconL-warje {
	background-position: -85px -100px;
}
.iconL-kothrud {
	background-position: -170px -100px;
}
.iconL-bavdhan {
	background-position: -255px -100px;
}
.iconL-bhugaon {
	background-position: -340px -100px;	
}
.iconL-pirangut {
	background-position: -425px -100px;	
}
.iconL-rihe {
	background-position: -510px -100px;
}
.iconL-baner {
	background-position: 0 -200px;
}
.iconL-balewadi {
	background-position: -85px -200px;
}
.iconL-pashansus {
	background-position: -170px -200px;
}
.iconL-wakad {
	background-position: -255px -200px;
}
.iconL-hinjewadi {
	background-position: -340px -200px;	
}
.iconL-pimplesaudagar {
	background-position: -425px -200px;	
}
.iconL-shirwal {
	background-position: -510px -200px;
}